table {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

mat-form-field {
    width: 100%;
}

.submit-btn {
    float: right;
}

.spinner {
    display: flex;
    justify-content: center;
}

.error { 
    color: red;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-top: 20px;
}

.mock-data-container {
    padding-bottom: 20px;
}