<form [formGroup]="briefingForm">
  <table>
    <colgroup>
      <col style="width: 150px">
      <col style="width: 25%">
      <col style="width: 25%">
      <col style="width: 25%">
    </colgroup>

    <tr>
      <td>
        <div class="fxg1">Message Types</div>
      </td>
      <td>
        <mat-checkbox formControlName="metar">METAR</mat-checkbox>
      </td>
      <td>
        <mat-checkbox formControlName="sigmet">SIGMET</mat-checkbox>
      </td>
      <td>
        <mat-checkbox formControlName="taf">TAF</mat-checkbox>
      </td>
    </tr>

    <tr>
      <td>Airports</td>
      <td colspan="3">
        <mat-form-field>
          <input matInput placeholder="Airports" type="text" formControlName="airports">
          <mat-error *ngIf="controls.airports.hasError('airportsInvalid')">
            Provide airports as 4 upper-case letter identifiers (ICAO codes) separated by one space.
          </mat-error>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>Countries</td>
      <td colspan="3">
        <mat-form-field>
          <input matInput placeholder="Countries" type="text" formControlName="countries">
          <mat-error *ngIf="controls.countries.hasError('countriesInvalid')">
            Provide countries as 2 upper-case letter identifiers (WMO codes) separated by one space.
          </mat-error>
        </mat-form-field>
      </td>
    </tr>

  </table>

  <div *ngIf="briefingForm.errors?.airportCountryMissing && (briefingForm.touched || briefingForm.dirty)" class="error">
    At least one airport or country code must be specified
  </div>
  <div *ngIf="briefingForm.errors?.typeMissing && (briefingForm.touched || briefingForm.dirty)" class="error">
    At least one message type must be selected
  </div>
  <div class="btn-container">
    <button mat-raised-button color="primary" class="submit-btn" (click)="onSubmitClick()" [disabled]="isBtnDisabled">Create Briefing</button>
  </div>
  <div *ngIf="isLoadingData" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="showError" class="error mock-data-container">
    An error occurred while trying to get your data or server did not respond in 30 seconds. Please try again. <br>
    You can use mocked BE response to demonstrate the functionality. <br>
    <button mat-raised-button color="accent" (click)="onShowMockDataClick()">Create Mock Briefing</button>
  </div>
</form>