<div *ngIf="stationEntries != null" class="content">
  <div *ngIf="stationEntries.size == 0">
    There is no data we could display for you.
  </div>

  <table>
      <colgroup>
        <col style="width: 90px">
        <col style="width: 180px">
        <col>
      </colgroup>
          <ng-container *ngFor="let station of stationEntries | keyvalue">
            <tr class="header">
              <td>{{station.key}}</td>
              <td></td>
              <td></td>
            </tr>
            <tr *ngFor="let report of station.value">
              <td>{{ report.reportType }}</td>
              <td>{{ report.reportTime | date: 'd.M.yyyy HH:mm:ss'}}</td>
              <td [innerHTML]="report.reportBody | colorizeReportBody"></td>
            </tr>
          </ng-container>
  </table>

</div>
