table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    vertical-align: top;
    padding: 3px;
    text-indent: -1.5em;
    padding-left: 1.6em;
}


.header { 
    background: lightgray;
    font-weight: bold;
}