<div class="content">
  <h1 style="text-align: center">Pilot briefing</h1>
  <app-input-data (submitClick)="onSubmitClick()" (onDataChange)="onResultChange($event)"></app-input-data>
  <app-output-data [stationEntries]="stationEntries"></app-output-data>
</div>