/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: serif;
    letter-spacing: .7px;
}

.blue {
    color: blue;
}

.red { 
    color: red;
}